.Chart{
    width:100vw;
    height:100vh;

    background-image:url('./resource/Background.svg');
    background-size: cover;

    display:flex;
    align-items: center;
    justify-content: center;
}

.Chart > .text-box{
    width:auto;
    height:auto;
}

.Chart > .text-box > h1{
    font-size:100px;
    /* margin-top:250px; */

    text-align: center;
    color:#fff;
}

.Chart > .text-box > p{
    width:800px;
    margin:auto;
    margin-top:10px;
    font-size:16px;
    color:#BDBDBD;
}

.Chart > .text-box > .graph-box{
    width:800px;
    height:160px;
    margin:auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Chart > .text-box > .graph-box > div{
     width:380px;
     height:100%;

     border-radius:5px;
  
     color:#fff;

     margin-top:100px;
     
}

.Chart > .text-box > .graph-box > div > h2{
    font-size:40px;
    text-align: right;
}

.Chart > .text-box > .graph-box > div > p{
    text-align: right;
    font-size:30px;
}